/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */

html, body {
	/* height: 100%; 出现body滚动条，greybox双层滚动条 */
	overflow: auto;
}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	margin:0;padding:0;
}
/* 去除默认边框 */
fieldset,img{
	border:0;
}
/*去掉a元素的默认样式*/
a{
	text-decoration: none;
	color: #000;
	outline: none;
}
ul,li{
	list-style-type: none;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:500;
}
input,select,textarea{
	font-size:100%;
	line-height: normal;
	border: 1px solid #7E9DB9;
}
/*去掉ie下checkbox radio的边框*/
input[type="checkbox"], input[type="radio"]{
    background: transparent;
    border: 0;
}

/* 去掉Webkit内核浏览器输入框的边框 */
input[type="text"]:focus{
	outline: none;
}
input[type="password"]:focus{
	outline: none;
}


/*常用的margin、padding*/
.ml60{
	margin-left: 60px;
}
.ml10{
	margin-left: 10px;
}

.mb30{
	margin-bottom: 30px;
}
.wid800{
	width: 800px;
}

/*左右浮动考虑双倍边距bug*/
.fl{
	float: left;
	display: inline;
}
.fr{
	float: right;
	display: inline;
}
/*********** 文字过长显示省略号 ***********/
.fn-ellipsis {
	white-space: nowrap; /* 强制文字将不自动换行 */
	overflow: hidden; /* 隐藏超出容器范围的文字 */
	text-overflow: ellipsis; /* IE, Safari*/
	-o-text-overflow: ellipsis; /* Opera */
	-icab-text-overflow: ellipsis;
	-khtml-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis; /* 目前这段代码无效，为 Firefox 预留 */
}
/************ 文字过长时自动换行 ************/
.fn-text-wrap{
	white-space:normal;
	word-break:break-all;
	word-wrap:break-word;
}
/*常用的定位*/
.ablt{
	position: absolute;
	left: 0;
	top: 0;
}
.abrt{
	position: absolute;
	right: 0;
	top: 0;
}
/*常用的display*/
.dis-inline-block{
	display: inline-block;
}