
.wrap a:hover{
	text-decoration: underline;
}
.topic dt{
	border-bottom: 3px solid #2888a8;
	font-size: 20px;
    font-weight: bold;
	height: 42px;
	line-height: 55px;
	padding: 20px 0 0 0 ;
	margin-bottom: 20px
}

.list-content a{
    cursor: pointer;
}
/*
.list-content .td0{
	font-weight: bold;
}
.td0{
	width: 27%;
}
.td1{
	width: 10%;
}
.td2{
	width: 10%;
}
.td3{
	width: 10%;
}
.td4{
	width: 10%;
}*/
.last{
	border-right: 1px solid #e6e6e6;
}

/*.ope{
    display: inline-block;
    width: 32px;
    height: 30px;
	margin: 2px;
    border: 1px solid #FFF;
    border-radius: 5px;
}
.ope:hover{
    border: 1px solid #d3e8f3;
    border-radius: 5px;
}

.tea-apply span,.tea-modify span,.tea-check span,.tea-delete span{
    display: inline-block;
    width:28px;
    height: 28px; 
    vertical-align:middle;
}
.tea-apply span{
          
    background: url(../../images/teacher/tea_select.png) 0 3px no-repeat;
}
.tea-modify span{      
    background: url(../../images/teacher/tea_select.png) -24px 3px no-repeat;
}
.tea-check span{      
    background: url(../../images/teacher/tea_select.png) -55px 3px no-repeat;
}
.tea-delete span{      
    background: url(../../images/teacher/tea_select.png) -83px 3px no-repeat;
}*/
.content-bottom{
    margin-top: 20px;
    border-top: 1px solid #e6e6e6;
}
.create-apply{
    width: 110px;
    height: 30px;
    border: none;
    background: url(../../images/teacher/tea_select.png) 0 -26px no-repeat;
}
.create-apply:hover{
     background: url(../../images/teacher/tea_select.png) 0 -61px no-repeat;
}
/*申请表样式*/
.apply-table-wrap{
    width: 100%;
    margin: 40px auto;
	text-align: center;
}
.apply-table{
	border-bottom: 1px solid rgb(198,198,198);
	border-left: 1px solid rgb(198,198,198);
	border-top: 1px solid rgb(198,198,198);
}
.apply-table td{
	border-right : 1px solid rgb(198,198,198);
	border-bottom: 1px solid rgb(198,198,198);
	padding: 8px;
	text-align: left;
}
.t-title{
	font-size: 24x;
	font-weight: bold;
	margin: 20px 0;
}
.col-name{
	width: 150px;
	background: #F3F6F9;
}
.input-style{
	width: 100%;
	padding: 2px;
	border: none;
}
.td-height{
	height: 150px;
}
.apply{
	border: none;
	width: 54px;
	height: 27px;
	background: url(../../images/teacher/save.gif) 0 -27px no-repeat;
}

.apply:hover{
	background: url(../../images/teacher/save.gif) 0 0 no-repeat;
}
/*所有选题样式*/

.topic-list tr.hover{
	background: #DCF3FB;
}
.topic-list tr.actived{
	color: Silver;
}
.topic-list a{
    padding: 3px;
}
.detail{
	
	line-height: 25px;
	font-size: 14px;
	font-weight: bold;
	
}
.td-wid0{
    width: 70%;
}
.td-wid1{
    width: 30%;
}
.tr-wid{
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.detail p{
	font-weight: normal;
	text-indent: 2em;
}
.detail table td{
	text-align: left;
	border: none;
}
.topic .topic-list tr.hide{
	display: none;
}
.topic .topic-list tr.show{
	display: table-row;
}
.select-list dt
{
    margin-bottom: 20px;
}


/*发布公告*/
.notice-excel
{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.notice-excel td
{
    line-height: 40px;
    text-align: left;
}
.notice-excel h2
{
    font-size: 14px;
    font-weight: bold;
}
.tab-name
{
    width: 80px;
}
.notice-excel input
{
    width: 250px;
}
.notice-excel input.deadline
{
    width: 231px;
}
.notice-excel textarea
{
    width: 100%;
    height: 200px;
}

.error
{
    border: 1px solid red;    
}