
.wrap a:hover{
	text-decoration: underline;
}
.topic dt{
	border-bottom: 3px solid #2888a8;
	font-size: 20px;
    font-weight: bold;
	height: 42px;
	line-height: 55px;
	padding: 20px 0 0 0 ;
	margin-bottom: 10px
}
.list-content .bold
{
    font-weight: bold;
}
.list-content a{
    cursor: pointer;
}
/*
.list-content .td0{
	font-weight: bold;
}
.td0{
	width: 27%;
}
.td1{
	width: 10%;
}
.td2{
	width: 10%;
}
.td3{
	width: 10%;
}
.td4{
	width: 10%;
}*/
.last{
	border-right: 1px solid #e6e6e6;
}

/*.ope{
    display: inline-block;
    width: 32px;
    height: 30px;
	margin: 2px;
    border: 1px solid #FFF;
    border-radius: 5px;
}
.ope:hover{
    border: 1px solid #d3e8f3;
    border-radius: 5px;
}

.tea-apply span,.tea-modify span,.tea-check span,.tea-delete span{
    display: inline-block;
    width:28px;
    height: 28px; 
    vertical-align:middle;
}
.tea-apply span{
          
    background: url(../../images/teacher/tea_select.png) 0 3px no-repeat;
}
.tea-modify span{      
    background: url(../../images/teacher/tea_select.png) -24px 3px no-repeat;
}
.tea-check span{      
    background: url(../../images/teacher/tea_select.png) -55px 3px no-repeat;
}
.tea-delete span{      
    background: url(../../images/teacher/tea_select.png) -83px 3px no-repeat;
}*/
.content-bottom{
    margin-top: 20px;
    border-top: 1px solid #e6e6e6;
}
.create-apply{
    width: 110px;
    height: 30px;
    border: none;
    background: url(../../images/teacher/tea_select.png) 0 -26px no-repeat;
}
.create-apply:hover{
     background: url(../../images/teacher/tea_select.png) 0 -61px no-repeat;
}
/*申请表样式*/
.apply-table-wrap{
    width: 100%;
    margin: 40px auto;
	text-align: center;
}
.apply-table{
    width: 800px;
	border-bottom: 1px solid #E9EDF1;
	border-left: 1px solid #E9EDF1;
	border-top: 1px solid #E9EDF1;
}
.apply-table td{
	border-right : 1px solid #E9EDF1;
	border-bottom: 1px solid #E9EDF1;
	padding: 8px;
	text-align: left;
}
.t-title{
	font-size: 24x;
	font-weight: bold;
	margin: 20px 0;
}
.col-name{
	width: 100px;
	background: #F3F6F9;
}
.input-style{
	width: 100%;
	padding: 2px;
	border: none;
}
.td-height{
	height: 200px;
}
.apply{
	border: none;
	width: 54px;
	height: 27px;
	background: url(../../images/teacher/save.gif) 0 -27px no-repeat;
}

.apply:hover{
	background: url(../../images/teacher/save.gif) 0 0 no-repeat;
}
/*所有选题样式*/

.topic-list tr.hover{
	background: #DCF3FB;
}
.topic-list tr.actived{
	background: #F6FFF0;
}
.topic-list a{
    padding: 3px;
}
.detail{
	
	line-height: 25px;
	font-size: 14px;
	font-weight: bold;
	
}
.td-wid0{
    width: 70%;
}
.td-wid1{
    width: 30%;
}
.tr-wid{
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.detail p{
	font-weight: normal;
	text-indent: 2em;
}
.detail table td{
	text-align: left;
	border: none;
}
.topic .topic-list tr.hide{
	display: none;
}
.topic .topic-list tr.show{
	display: table-row;
}

/*公告*/
.notice
{
    margin-top: 40px;   
}

.singleBg
{
    
    width: 800px;
    margin: 40px auto;
    background: url(../../images/notice_bg.gif) right top repeat-y;
}

.single
{
    padding-left: 1px;
    background: url(../../images/notice_leftborder.gif) repeat-y left top;
}
.top
{
    text-align: center;
    background: url(../../images/notice_title.gif) right top no-repeat;
    margin: 0;
    padding: 0;
    border: 0;
}
.single dd
{
    padding: 0;
}

.top h1
{
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    font-weight: bold;
    margin: 10px auto 0 auto;
}
.publishTime,.publishUnits
{
    line-height: 30px;
    font-size: 13px;
    text-align: center;
}
.line
{
    width: 90%;
    height: 1px;
    margin: 0 auto;
    background: rgb(198,198,198);
 }
.noticeContent
{
    width: 90%;
    text-indent: 2em;
    margin: 20px auto;
    padding: 10px;
    min-height: 350px;
    font-size: 14px;
    color: #555555;
    line-height: 22px;
}
.center
{
    text-align: center;
}
.bottom
{
    background: url(../../images/notice_bot.gif) right bottom no-repeat;    
}
.tab-down
{
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
    color: #11449E;
    font-size: 12px;
    font-weight: bold;
}
.download-list
{
    font-weight: normal;
}
.download-list a
{
    color: #205AA7; 
    cursor: pointer;
}
.download-list a:hover
{
    color: #e54646; 
    text-decoration: underline;
}
.backLink
{
    text-align: center;
    padding: 0 0 40px 0; 
}
.backLink a
{   
    color: Gray;
    font-weight: bold;
    font-size: 14px;
}
.backLink a:hover
{
    text-decoration: underline;
}
/*发布公告*/
.notice-excel
{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.notice-excel td
{
    line-height: 40px;
    text-align: left;
}
.notice-excel h2
{
    font-size: 14px;
    font-weight: bold;
}
.tab-name
{
    width: 80px;
}
.notice-excel input
{
    width: 250px;
}
.notice-excel input.deadline
{
    width: 231px;
}
.notice-excel textarea
{
    width: 100%;
    height: 200px;
}
/*优秀毕业设计作品*/
.workContent
{
    min-height: 700px;
    width: 90%;
    text-indent: 2em;
    margin: 20px auto;
    padding: 10px;
    font-size: 14px;
    color: #555555;
    line-height: 22px;
}