/* CSS Document */
.content-wrap{
	color: #555555;
}

.topic-list{
	width:95%;
	margin-top: 20px;
}
.topic-list  td{
	white-space: nowrap;
	overflow: hidden; 
	text-overflow: ellipsis; 
	-o-text-overflow: ellipsis; 
	-icab-text-overflow: ellipsis;
	-khtml-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
}
.list-header{
	font-size: 12px;
	height: 22px;
	background: url(../../images/student/stu_select/stu_select_table_bg.gif) 0 0 repeat-x;
}
.topic-list td{
	/*vertical-align: middle;*/
	/*height: 22px;*/
	text-align: center;
	padding: 0 10px;
}

.topic-list .td1{
	text-align: left;
}
.list-header td{	
	border-left: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	border-top: 1px solid #e6e6e6;
}
.list-header .td1{
	border-left: 0;
}
.list-header .td7{
	border-right: 1px solid #e6e6e6;
}
.td0{
	width: 3%;
}
.td1{
	width: 27%;
}
.td2{
	width: 9%;
}
.td3{
	width: 8%;
}
.td4{
	width: 8%;
}
.td5{
	width: 10%;
}
.td6{
	width: 10%;
}
.td7{
	width: 10%;
}

.list-content td{
	line-height: 35px;
	border-bottom: 1px solid #e6e6e6;
}
.list-content .td1{
	font-weight: bold;
}

.list-icon{
	display: inline-block;
	width: 20px;
	height: 22px;
}
.store-icon{	
	background: url(../../images/student/stu_select/stu_select_store.gif) 0 0 no-repeat;
}
.store-icon-actived{
	background: url(../../images/student/stu_select/stu_select_store.gif) -22px 0 no-repeat;
}
.select-icon{
	background: url(../../images/student/stu_select/stu_select_select.gif) 0 0 no-repeat;
}
.select-icon-actived{
	background: url(../../images/student/stu_select/stu_select_select.gif) -22px 0 no-repeat;
}


/*这里是topic_info的样式*/
.wrap{
	width: 86%;
	margin: 0 auto;
	font-size: 14px;
	font-family: "新宋体";
}
.wrap a:hover{
	text-decoration: underline;
}
.teacher-info{
	width: 100%;
}
.topic-info{
	padding-bottom: 20px;
}
.wrap dt{
	border-bottom: 3px solid #2888a8;
	font-size: 20px;
	font-weight: bold;
	height: 42px;
	line-height: 55px;
	padding: 20px 0 0 0 ;
}
.wrap dd{
	padding-left: 40px;
}
.teacher-info dd{
    line-height: 40px;
}
.teacher-info dt h1,.topic-info dt h1,.stu-info dt h1{
	font-weight: bold;
	background: url(../../images/student/stu_info.gif) 0 0 no-repeat;
	display: inline-block;
	width: 100%;
	height: 42px;
	padding-left: 40px;
}
.topic-info .topic-list tr.hover{
	background: #DCF3FB;
}
.topic-info .topic-list tr.actived{
	background: #F6FFF0;
}
.detail{
	line-height: 25px;
	font-size: 14px;
	font-weight: bold;
}
.detail table{
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}
.detail p{
	font-weight: normal;
	text-indent: 2em;
}
.detail table td{
	text-align: left;
}
.topic-info .topic-list tr.hide{
	display: none;
}
.topic-info .topic-list tr.show{
	display: table-row;
}



/*这里是mystore、myselect的css*/
.mystore,.myselect{
	position: relative;
}
.mystore dt span,.myselect dt span{
	position: absolute;
	right: 10px;
	font-weight: normal;
	font-size: 14px;
}
.mystore dt a,.myselect dt a{
	display: inline-block;
	height: 26px;
	line-height: 26px;
	text-indent: 30px;
}
.mystore dt a.arrow-left,.myselect dt a.arrow-left{
	background: url(../../images/student/buttons.gif) 0 -127px no-repeat;
}
.mystore dt a.aRight,.myselect dt a.aRight{
    padding-right: 37px;
}
.mystore dt .arrow-right,.myselect dt .arrow-right{
	width: 25px;
    height: 25px;
	background:  url(../../images/student/buttons.gif) 0 -101px  no-repeat;
}
.mystore .topic-list td,.myselect .topic-list td{
	text-align: left;
	border-bottom: 1px solid #e6e6e6;
}
.mystore .topic-list span,.myselect .topic-list span{
	width: 100px;
	height: 50px;
}
.mystore .select-icon{
	background: url(../../images/student/buttons.gif) -400px 0 no-repeat;
}
.mystore .select-icon:hover{
	background: url(../../images/student/buttons.gif) -400px -50px no-repeat;
}
.mystore .delete-icon{
	background: url(../../images/student/buttons.gif) -300px 0 no-repeat;
}
.mystore .delete-icon:hover{
	background: url(../../images/student/buttons.gif) -300px -50px no-repeat;
}
.topicName{
	font-weight: bold;
	color: gray;
}
.vanancy span{
	font-size: 20px;
	font-weight: bold;
}
.myselect .refuse-select-icon{
	background: url(../../images/student/buttons.gif) 0 0 no-repeat; 
}
.myselect .refuse-select-icon:hover{
	background: url(../../images/student/buttons.gif) 0 -50px no-repeat; 
}
.myselect .selectOrder{
	font-size: 20px;
}
/*个人信息的样式*/
.stu-info dt {
	position: relative;
}
.stu-info dt  a{
    font-weight: normal;
}
.stu-info dd{
    line-height: 40px;
}
.stu-info input{
	border: none;
	/*color: #978F8F*/
}
.stu-info input.active{
	width: 200px;
	height: 25px;
	border: 1px solid gray;
	text-indent: 1em;
}
.stu-info select{
	border: none;
	width:150px;
    -webkit-appearance: none;
	/*color: #978F8F*/
}
.stu-info select.active{
	width: 200px;
	height: 25px;
	border: 1px solid gray;
	text-indent: 1em;
    -webkit-appearance: menulist;
}

.stu-info dt  span{
	position: absolute;
	right: 10px;
}
.modify{
	font-size: 12px;
	/*color: gray;*/
}
.modify a{
	padding: 0 10px;
}
.button{
	width: 100px;
	height: 50px;
	border: none;
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.modify-ok,.psd-modify-ok{
	background: url(../../images/student/buttons.gif) -200px 0 no-repeat;
}
.modify-ok:hover,.psd-modify-ok:hover{
	background: url(../../images/student/buttons.gif) -200px -50px no-repeat;
}
.modify-no,.psd-modify-no{
	background: url(../../images/student/buttons.gif) -100px 0 no-repeat;
}
.modify-no:hover,.psd-modify-no:hover{
	background: url(../../images/student/buttons.gif) -100px -50px no-repeat;
}
.psd-modify-ok{
	margin-left: 0;
}
.psd-modify-no{
	margin-left: 80px;
}

/*密码修改的样式*/

.stu-modify_password dt h1{
	font-weight: bold;
	display: inline-block;
	width: 100%;
	height: 42px;
	padding-left: 40px;
	background: url(../../images/student/modify_password_icon.gif) 0 0 no-repeat;
}
.stu-modify_password input{
	width: 200px;
	height: 25px;
	margin: 10px;
}

/*选题详细信息*/
.topic-single{
	margin-left: 40px;
}
.message-board{
	font-size: 13px;
}
.message-board dt h1{
	font-weight: bold;
	background: url(../../images/student/modify_password_icon.gif) 0 0 no-repeat;
	padding-left: 40px;
}
.dis-comments{
    margin-left: 20px;
	margin-top: 20px;
}
.com-name{
	color: #DD3322;
}
.com-body p{
	margin: 0.5em 0;
	word-wrap: break-word;
}
.each-comment{
	border-top: 1px solid #e6e6e6;
	padding:10px 0 10px 20px;
}
.com-action,.com-reply{
	color: #999999;
}
.com-children{
	margin-top: 10px;
}
.reply-box{
	position: relative;
	width: 900px;
}
.reply-textarea,.reply-textarea textarea{
	line-height: 20px;
	padding: 10px;
}
.reply-textarea textarea{
	color: #999999;
	width: 100%;
	height: 54px;
	
}
.reply-toolbar{
	position: absolute;
	right: 0;

}
.reply-toolbar button{
	width: 100px;
	height: 30px;
	border: none;
	margin-bottom: 40px;
	background: url(../../images/student/buttons.gif) -400px -140px no-repeat;
}
.reply-toolbar button:hover{
	background: url(../../images/student/buttons.gif) -400px -173px no-repeat;
}